/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background: #9A8C98;
  color: #22223B;
  font-family: "Source Serif Pro", serif;
  font-size: 20px;
  line-height: 1.3em;
}

strong {
  font-weight: 700;
}

a {
  color: #22223B;
}
a:visited {
  color: #4A4E69;
}

.dot {
  width: 50vw;
  height: 50vw;
  background: #4A4E69;
  border-radius: 0 0 100% 0;
  box-shadow: 0 0 64px rgba(34, 34, 59, 0.75);
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

h1 {
  margin: 10vw 0 0 10vw;
  font-size: 8vw;
  font-weight: 700;
  line-height: 0.9em;
  color: #F2E9E4;
  text-shadow: 0 0 16px rgba(34, 34, 59, 0.5);
}

#title {
  position: fixed;
}

#sections {
  width: 40%;
  float: right;
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  padding: calc(10vw + 1.5em) min(128px, 10vw) 128px min(128px, 10vw);
}

.section {
  position: relative;
  background: #F2E9E4;
  padding: 32px;
  border-radius: 32px;
  box-shadow: 0 0 16px rgba(34, 34, 59, 0.5);
  margin-bottom: 128px;
}
.section h2 {
  font-weight: 700;
  position: absolute;
  color: #22223B;
  top: -0.25em;
  left: 28px;
  font-size: 3em;
  text-shadow: 0 0 16px rgba(242, 233, 228, 0.5);
}

p {
  margin-top: 1.2em;
}

#blocker {
  height: 256px;
  width: 256px;
  float: right;
  margin: 0 -32px -32px 0;
}

.about img {
  width: 256px;
  height: 256px;
  border-radius: 32px;
  position: absolute;
  right: -32px;
  bottom: -32px;
  box-shadow: 0 0 16px rgba(34, 34, 59, 0.5);
}

.experience {
  display: flex;
  flex-flow: row nowrap;
  min-height: 500px;
}
.experience .timeline {
  display: flex;
  flex-flow: column nowrap;
  z-index: 1;
}
.experience .timeline .mini-dot {
  background: #4A4E69;
  border-radius: 4px;
  width: 8px;
  height: 8px;
  margin-bottom: 8px;
  box-shadow: 0 0 8px rgba(34, 34, 59, 0.5);
}
.experience .timeline .long-dot {
  background: #4A4E69;
  border-radius: 4px;
  width: 8px;
  flex-grow: 1;
  box-shadow: 0 0 8px rgba(34, 34, 59, 0.5);
}
.experience #entries {
  flex-grow: 1;
}
.experience .entry {
  flex-grow: 1;
  margin: 32px 16px 16px 0;
  height: min-content;
}
.experience .entry .info {
  padding: 16px 32px;
  border-radius: 0 8px 8px 0;
  background-color: #E8DCD9;
  border-left: none;
  box-shadow: 0 0 16px rgba(34, 34, 59, 0.25);
  width: max-content;
}
.experience .entry .date {
  display: block;
  font-weight: 300;
}
.experience .entry ul {
  list-style-type: circle;
  margin-left: 50px;
}
.experience .entry ul li {
  margin-top: 16px;
}

.contact {
  position: relative;
}
.contact li {
  margin-top: 16px;
}
.contact img {
  vertical-align: bottom;
  margin-right: 16px;
}
.contact .contact-dot {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 180px;
  height: 180px;
  background: #4A4E69;
  border-radius: 100% 0 32px 0;
  box-shadow: 0 0 32px rgba(74, 78, 105, 0.25);
}

/*# sourceMappingURL=processed.css.map */
