@import "./reset.scss";

$darker: #22223B;
$dark: #4A4E69;
$medium: #9A8C98;
// $light: #C9ADA7;
$light: #E8DCD9;
$lighter: #F2E9E4;

body {
    background: $medium;
    color: $darker;
    font-family: 'Source Serif Pro', serif;
    font-size: 20px;
    line-height: 1.3em;
    display: flex;
    flex-flow: row wrap;
}

strong {
    font-weight: 700;
}

.dot {
    width: 50vw;
    height: 50vw;
    background: $dark;
    border-radius: 0 0 100% 0;
    box-shadow: 0 0 64px rgba($darker, .75);
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

h1 {
    margin: 10vw 0 0 10vw;
    font-size: 8vw;
    font-weight: 700;
    line-height: .9em;
    color: #F2E9E4;
    text-shadow: 0 0 16px rgba($darker, .5);
}

#title {
    flex: 1 1 40%;
}

#sections {
    flex: 1 1 600px;
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    padding: 128px min(128px, 10vw);
}

.section {
    position: relative;
    background: #F2E9E4;
    padding: 32px;
    border-radius: 32px;
    box-shadow: 0 0 16px rgba($darker, .5);
    margin-bottom: 128px;

    h2 {
        font-weight: 700;
        position: absolute;
        color: $darker;
        top: -.25em;
        font-size: 3em;
        text-shadow: 0 0 16px rgba($lighter, .5);
    }
}

p {
    margin-top: 1.2em;
}

#blocker {
    height: 256px;
    width: 256px;
    float: right;
    margin: 0 -32px -32px 0;
}

.about img {
    width: 256px;
    height: 256px;
    border-radius: 32px;
    position: absolute;
    right: -32px;
    bottom: -32px;
    box-shadow: 0 0 16px rgba($darker, .5);
}

.experience {
    display: flex;
    flex-flow: row nowrap;
    min-height: 500px;

    .timeline {
        display: flex;
        flex-flow: column nowrap;
        z-index: 1;

        .mini-dot {
            background: $dark;
            border-radius: 4px;
            width: 8px;
            height: 8px;
            margin-bottom: 8px;
            box-shadow: 0 0 8px rgba($darker, .5);
        }
        
        .long-dot {
            background: $dark;
            border-radius: 4px;
            width: 8px;
            flex-grow: 1;
            box-shadow: 0 0 8px rgba($darker, .5);
        }
    }

    #entries {
        flex-grow: 1;
    }

    .entry {
        flex-grow: 1;
        margin: 32px 16px 16px 0;
        
        
        height: min-content;

        .info {
            padding: 16px 32px;
            border-radius: 0 8px 8px 0;
            background-color: $light;
            border-left: none;
            box-shadow: 0 0 16px rgba($darker, .25);
            width: max-content;
        }
        
        .date {
            display: block;
            font-weight: 300;
        }

        ul {
            list-style-type: circle;
            margin-left: 50px;

            li {
                margin-top: 16px;
            }
        }
    }
}
