body {
    background-color: #EEDCEB;
    font-family: Arial, Helvetica, sans-serif;
    color: #291f31;
}

h1 {
    color: #7C509B;
    display: inline-block;
    transform-origin: 0 0;
    transform: rotate(-90deg);
    position: absolute;
    left: 0;
    bottom: -250px;
    font-size: 160px;
    font-style: oblique;
    text-shadow: 0.23em 0.17em white;
    opacity: .5;
}

li {
    line-height: 1.75;
    list-style-type: square;
}

h2 {
    color: #7C509B;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 50px;
    font-style: oblique;
    text-shadow: 0.23em 0.17em white;
}

div.content {
    margin-top: 100px;
    margin-left: 400px;
    max-width: 930px;
}

div.entry {
    margin-left: 30px;
    padding: 10px 0 10px 0;
    position: relative;
    display: inline-block;
}

div.entry::before {
    content: "";
    position: absolute;
    top: 0;
    right: -80px;
    bottom: 0;
    left: -80px;
    transition: right .15s, left .15s;
    transition-timing-function: ease-out;
}

div.entry:hover::before {
    content: "";
    z-index: -1;
    opacity: .5;
    background-color: white;
    transform: skew(-8deg);
    box-shadow: 8px 8px 0 0 #7C509B;
    position: absolute;
    top: 0;
    right: -40px;
    bottom: 0;
    left: -40px;
}